* {
	box-sizing: border-box;
	font-family: Roboto, 'Roboto', sans-serif;
	transition: all 0.15s ease;
	padding: 0;
	margin: 0;
	border: 0;
}

*:focus {
	outline: none;
}

html, body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fafafa;
	color: #212121;
	overflow: hidden;
}

.navbar {
	position: absolute;
	left: 0;
	right: 0;
	display: block;
	width: 100%;
	user-select: none;
	cursor: default;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	word-wrap: nowrap;
	text-overflow: ellipsis;
}

.navbar-1 {
	top: 0;
	height: 60px;
	background: #1A5072;
	color: #fafafa;
	z-index: 5;
}

.navbar-2 {
	top: 60px;
	height: 90px;
	background: #fafafa;
	z-index: 4;
}

.navbar-box {
	display: inline-block;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar-box-left {
	float: left;
	text-align: left;
}

.navbar-box-right {
	float: right;
	text-align: right;
}

.navbar-link,
.navbar-phone,
.navbar-phone-text {
	display: inline-block;
	position: relative;
	display: inline-block;
	font-size: 16px;
	line-height: 60px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	text-overflow: ellipsis;
}

.navbar-link {
	font-weight: 500;
	margin-left: 20px;
	cursor: pointer;
	color: #eaeaea;
}

.navbar-phone {
	color: #eaeaea;
}

.navbar-phone .material-icons {
	position: relative;
	font-size: 16px;
	margin-top: 5px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 50%;
	padding: 7px;
	top: 2px;
	margin-right: 7px;
	color: #fafafa;
}

.navbar-phone-text-number {
	color: #fafafa;
	font-weight: 500;
	user-select: initial;
	cursor: text;
}

.navbar-search {
	display: inline-block;
	position: relative;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	height: 36px;
	line-height: 36px;
	background: #fafafa;
	margin-left: 20px;
}

.navbar-search-input {
	display: inline-block;
}

.navbar-search-input input {
	background: #fafafa;
	padding-left: 15px;
	color: #212121;
}

.navbar-search-submit {
	display: inline-block;
	cursor: pointer;
	color: #fafafa;
	/*background: #386E90;*/
	background: #5EB09A;
	box-shadow: -2px 0 2px rgba(0, 0, 0, 0.1);
	border-radius: 0 2px 2px 0;
}

.navbar-search-submit .material-icons {
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	position: relative;
	display: inline-block;
	top: 4px;
}
.navbar-logo {
	display: inline-block;
	position: relative;
	filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
	height: 56px;
	margin-top: 13px;
	cursor: pointer;
}

.navbar-button {
	font-size: 18px;
	color: #1A5072;
	display: inline-block;
	position: relative;
	border-radius: 2px;
	cursor: pointer;
	padding-top: 5x;
	padding-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 10px;
	line-height: 40px;
	margin-top: 25px;
	font-weight: 500;
}

.navbar-button.active,
.navbar-button:hover {
	/*
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background: #1A5072;
	color: #eaeaea;
	*/
	color: #5EB09A;
	border-bottom: solid 3px #5EB09A;
}

.content {
	position: absolute;
	top: 140px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	width: 100%;
	background: #eee;
}

.content-left {
	position: absolute;
	top: 0;
	left: 0;
	right: 300px;
	height: 600px;
	text-align: center;
}

.post {
	text-align: left;
	margin: 40px;
	margin-top: 100px;
	background: #fafafa;
	display: inline-block;
	min-height: 300px;
	height: auto;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	padding: 40px;
	position: relative;
	overflow: hidden;
	max-width: 875px;
}

.post:first-child {
	margin-top: 50px;
}

.post-banner {
	background-image: url("https://a.safe.moe/Lxjhh.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no repeat;
	width: 100%;
	height: 300px;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0.7;
	z-index: 2;
}

.post-banner:after {
	content: "";
	position: absolute;
	top: -40px;
	left: -40px;
	right: -40px;
	bottom: 0;
	display: block;
	background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.9));
	box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.post-title {
	bottom: 20px;
	position: relative;
	display: block;
	font-weight: 700;
	font-size: 22px;
	width: 100%;
	margin-bottom: 10px;
	z-index: 3;
	top: 173px;
	max-width: 100%;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
}

.post-byline {
	top: 173px;
	font-size: 15px;
	font-weight: 500;
	color: #424242;
	display: block;
	position: relative;
	margin-bottom: 20px;
	z-index: 3;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
}

.post-byline-item {
	position: relative;
	display: inline-block;
}

.byline-section {
	margin-right: 10px;
	display: inline-block;
	position: relative;
	border-right: solid 2px #424242;
	padding-right: 10px;
}

.byline-section:last-child {
	border: none;
}

.post-byline-item.byline-primary {
	
}

.post-byline-item.byline-secondary {
	
}

.post-social {
	user-select: none;
	cursor: default;
	z-index: 3;
	display: block;
}

.social-top {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.social-bottom {
	position: relative;
	width: 100%;
	text-align: center;
}

.post-print {
	position: relative;
	display: inline-block;
	background: #1A5072;
	color: #eaeaea;
	border-radius: 50%;
	padding: 10px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.social-item {
	cursor: pointer;
	border-radius: 50%;
	padding: 5px;
	font-size: 22px;
	color: #212121;
}

.social-item:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.social-top .social-item:hover {
	background: rgba(255, 255, 255, 0.6);
}

.social-bottom .social-item:hover {
	background: rgba(0, 0, 0, 0.1);
}

.social-top .social-item {
	display: block;
	padding: 5px;
	margin-top: 5px;
	font-size: 22px;
	color: #212121;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
}

.social-bottom .social-item {
	display: inline-block;
	margin-top: 5px;
	text-align: center;
	margin-right: 7px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.social-total {
	font-size: 16px;
	color: #212121;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
	font-weight: 500;
	width: 30px;
	position: relative;
	
}

.social-top .social-total {
	text-align: right;
	margin-top: 20px;
	float: right;
	right: 6px;
	margin-bottom: 10px;
	display: block;
}

.social-bottom .social-total {
	display: inline-block;
	width: 40px;
	text-align: center;
	margin-right: 15px;
}

.social-total:after {
	content: "Shares";
	display: block;
	font-size: 13px;
	font-weight: 300;
	position: relative;
}

.social-top .social-total:after {
	text-align: right;
	float: right;
}

.social-bottom .social-total:after {
	right: 2px;
}

.post-content {
	display: block;
	position: relative;
	top: 225px;
	width: 100%;
	font-size: 16.5px;
	padding-bottom: 270px;
	line-height: 25px;
}

.post-content span {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

.post-content .header {
	font-weight: 700;
	font-size: 18px;
	margin-top: 30px;
	color: #1A5072;
	margin-bottom: 20px;
}

.post-content .subheader {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: -7px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.bullet {
	padding-bottom: 5px;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
	padding-left: 20px;
	border-left: solid 3px #1A5072;
}

.bullet-title {
	font-weight: 500;
	display: block;
	margin-bottom: 5px;
}

/*.bullet-title:before {
	content: "•";
	margin-right: 5px;
}*/

/*.bullet-title:after {
	content: "--";
	margin-left: 5px;
}*/

.content-right {
	position: fixed;
	top: 150px;
	right: 10px;
	width: 300px;
	bottom: 0;
	user-select: none;
}

.content-right-item {
	background: #fafafa;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	display: block;
	width: 250px;
	margin-right: 20px !important;
	margin-top: 40px;
	min-height: 200px;
	position: relative;
	float: left;
	overflow: hidden;
	cursor: pointer;
}

.sidebar-header {
	display: block;
	text-align: center;
	font-weight: 500;
	background: #1A5072;
	color: #eaeaea;
	width: 100%;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.sidebar-item {
	height: 64px;
	padding-top: 2px;
	padding-bottom: 2px;
	position: relative;
	display: block;
}

.sidebar-item:nth-child(2) {
	padding-top: 6px;
	height: 74px;
}

.sidebar-item:last-child {
	padding-bottom: 6px;
	height: 74px;
}

.sidebar-item:last-child {
	padding-bottom: 4px;
	height: 66px;
}

.sidebar-item:hover {
	background: #eaeaea;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sidebar-item-banner {
	background-size: cover;
	background-position: center center;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-image: url("https://a.safe.moe/Lxjhh.jpg");
	display: inline-block;
	height: 50px;
	width: 74px;
	position: absolute;
	left: 14px;
	top: 8px;
}

.sidebar-item:nth-child(2) .sidebar-item-banner {
	top: 16px;
}

.sidebar-item-title {
	display: inline-block;
	font-size: 16px;
	position: relative;
	margin-left: 100px;
	top: 50%;
	transform: translateY(-50%);
	max-width: 145px;
	max-height: 48px;
	overflow: hidden;
	padding-right: 5px;
	font-size: 14px;
}
